<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon"
          href="../public/img/favicon.ico"
          th:href="@{/public/img/favicon.ico}">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css"
          href="../public/css/main.css"
          th:href="@{/public/css/main.css}">
    <title th:text="#{eudiw} + ' :: ' + #{msisdn-verification-title}">eEWA :: MSISDN verification</title>
</head>
<body>
<main>
    <div class="container p-4">
        <div class="row gy-2 mb-4">
            <div class="col d-flex justify-content-start align-items-center">
                <img class="logo"
                     src="../public/img/logo.png"
                     th:src="@{/public/img/logo.png}"
                     alt="EU Digital Identity Wallet"
                     th:alt="#{eudiw}"/>
                <h1 class="title">eEWA - MSISDN verifier</h1>
            </div>
        </div>
        <div class="col d-flex justify-content-center align-items-center">
            <h2 th:text="#{msisdn-verification-title}">MSISDN verification</h2>
        </div>
        <div class="row mb-2">
            <div class="col">
                <h4 th:text="#{scan-qr-code-to-issue-credentials} + ':'">
                    Please scan the QR code with the eEWA-Wallet to start the process:
                </h4>
            </div>
        </div>
        <div class="row mb-2 p-2 bg-secondary-subtle">
            <div class="col d-flex flex-column align-items-center justify-content-center align-content-center">
                <img class="qr-code"
                     src="../public/img/sample-qr-code.png"
                     th:src="'data:' + ${qrCodeMediaType} + ';base64,' + ${qrCode}"
                     alt="QR Code"
                     th:alt="#{qr-code}"/>
                <p th:text="#{alternatively-you-can-click}">Alternatively you can click this</p>
                <a class="btn btn-primary" th:href="${openid4vpUrl}" th:text="#{link}">Deeplink</a>
            </div>
        </div>
    </div>
</main>
<script type="application/javascript"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        th:src="@{/webjars/bootstrap/js/bootstrap.min.js}">
</script>
</body>
</html>
